@import url('../libraries/normalize/normalize.css');
@import url('../libraries/tailwind/tailwind.min.css');
@import url('../libraries/font-awesome/css/all.min.css');

/* themes */
html.light > body, body.light {
  --bg-image: url('../imgs/bg-light.svg');
  --background-color: hsl(0, 0%, 85%);
  --secondary-bgcolor: hsl(0, 0%, 80%);
}
html.dark > body, body.dark {
  --bg-image: url('../imgs/bg-dark.svg');
  --background-color: hsl(206, 29%, 9%);
  --secondary-bgcolor: hsl(207, 31%, 11%);
}

/* body */
body {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  background-color: var(--secondary-bgcolor);
  background-image: var(--bg-image);
  background-repeat: repeat;
}