/* imports */
@import url('../libraries/normalize/normalize.css');
@import url('../libraries/tailwind/tailwind.min.css');
@import url('../libraries/font-awesome/css/all.min.css');

/* themes */
html.light > body, body.light {
  --bg-image: url('../imgs/bg-light.svg');
  --background-color: hsl(0, 0%, 85%);
  --secondary-bgcolor: hsl(0, 0%, 80%);
}
html.dark > body, body.dark {
  --bg-image: url('../imgs/bg-dark.svg');
  --background-color: hsl(206, 29%, 9%);
  --secondary-bgcolor: hsl(207, 31%, 11%);
}

[data-theme=dark] {
  --background-color: #11191f;
  --color: hsl(205deg, 16%, 77%);
  --primary: hsl(195deg, 85%, 41%);
  --primary-hover: hsl(195deg, 80%, 50%);
  --primary-focus: rgba(16, 149, 193, 0.25);
  --primary-inverse: #fff;
  --secondary: hsl(205deg, 15%, 41%);
  --secondary-hover: hsl(205deg, 10%, 50%);
  --secondary-focus: rgba(115, 130, 140, 0.25);
  --secondary-inverse: #fff;
  --contrast: hsl(205deg, 20%, 94%);
  --contrast-hover: #fff;
  --contrast-focus: rgba(115, 130, 140, 0.25);
  --contrast-inverse: #000;
  color-scheme: dark;
}
[data-theme=light] {
  --background-color: #fff;
  --color: hsl(205deg, 20%, 32%);
  --primary: hsl(195deg, 85%, 41%);
  --primary-hover: hsl(195deg, 90%, 32%);
  --primary-focus: rgba(16, 149, 193, 0.125);
  --primary-inverse: #fff;
  --secondary: hsl(205deg, 15%, 41%);
  --secondary-hover: hsl(205deg, 20%, 32%);
  --secondary-focus: rgba(89, 107, 120, 0.125);
  --secondary-inverse: #fff;
  --contrast: hsl(205deg, 30%, 15%);
  --contrast-hover: #000;
  --contrast-focus: rgba(89, 107, 120, 0.125);
  --contrast-inverse: #fff;
  color-scheme: light;
}
[data-canvas][data-theme] {
  background-color: var(--background-color);
  color: var(--color);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: hsl(217deg 91% 60%);
  border: 0;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: hsl(217, 100%, 68%);
}
::-webkit-scrollbar-thumb:active {
  background: hsl(217, 62%, 39%);
}
::-webkit-scrollbar-track {
  background: var(--secondary-bgcolor);
  border: 0;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: var(--secondary-bgcolor);
}
::-webkit-scrollbar-track:active {
  background: var(--secondary-bgcolor);
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* body */
body {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  background-color: var(--secondary-bgcolor);
  background-image: var(--bg-image);
  background-repeat: repeat;
}

/* selected element */
[data-selected] {
  border: 1px solid hsl(217deg 91% 60%);
}